.shnodoubles_add_var{
    float:none !important;
    margin-left:10px;
}
.sh_component_inner, #sh_component_wrapper, .sh_component_value{
    clear:both;
}
.sh_component_var_value{
    width:300px;
}
.sh_component_name{
    color:purple;
    font-weight:bold;
}
.shnodoubles_add_var{
    color:green;
    font-weight:bold;
}
.shnodoubles_remove_var{
    color:#b00;
    font-weight:bold;
}
.sh_component_inner.unchecked .sh_component_value, .sh_component_inner.unchecked .shnodoubles_add_var{
    display:none;
}
.sh_component_inner:nth-child(even){
    background:#eee;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.sh_component_inner{
    padding:5px;
}
.sh_component_inner input{
    float:none;
}